<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Youtube Sample</title>
</head>
<body>
    <div class="header">
        <div class="logo">LOGO</div>
        <div class="logo2">L</div>
        <div class="search-bar">
            <input type="text" class="header-search-box"  placeholder="Enter keywords here...">
            <button>S</button>
        </div>
        <div class="navigation-1">
            Navigation
        </div>
        <div class="navigation-2">
            Navigation 2
        </div>
    </div>
    <div class="container">
        <div class="upper-container">
            <div class="teaser">TEASER</div>
            <div class="advert">AD</div>
        </div>
        <div class="main-container">
            <ul class="thumbnails">
                <li>THUMBNAIL</li>
                <li>THUMBNAIL</li>
                <li>THUMBNAIL</li>
                <li>THUMBNAIL</li>
                <li>THUMBNAIL</li>
                <li>THUMBNAIL</li>
                <li>THUMBNAIL</li>
                <li>THUMBNAIL</li>
            </ul>
        </div>
    </div>
</body>
</html>