<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Custom Page</title>
</head>
<body>
    <div class="header">
        <img class="image"></img>
        <span>About Me</span>
        
        <div class="links-bar">
            <a class="about" href="#">About Me</a>
            <a class="hobbies" href="#">Hobbies</a>
            <a class="skills" href="#">Skills & Goals</a>
        </div>
        <div class="menu">&#9776;</div>
    </div>
    <div class="container">
        <ul class="thumbnails">
            <li id="firstL"><a class="id" href="#">Name and Age</a></li>
            <li  id="secL"><a class="about" href="#">About Me</a></li>
            <li>Photo 1</li>
            <li><a class="hobbies" href="#">Hobbies</a></li>
            <li>Photo 2</li>
            <li><a class="skills" href="#">Skills & Goals</a></li>
            <li>Photo 3</li>
        </ul>
    </div>
</body>
</html>