<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/main.css">
        <title>Twitter Sample</title>
    </head>
    <body>
        <div class="header">
            <div class="header-navigation">
                Navigation
            </div>
            <div class="search-bar">
                <input type="text" class="header-search-box"  placeholder="Enter keywords here...">
                <button>Go</button>
            </div>
        </div>
        <div class="main">
            <div class="navigation-block">
                <div class="navigation">
                    Navigation 1
                </div>
                <div class="navigation2">
                    Navigation 2
                </div>
            </div>
            <div class="article-block">
                <aside class="left-content">
                    LEFT SIDE BAR
                </aside>
                <div class="main-content">
                    <div class="search-area">
                        <input type="text" class="search-box"  placeholder="Enter keywords here...">
                        <button>Go</button>
                    </div>
                    <article class="main-article">ARTICLE</article>
                    <article class="second-article">ARTICLE</article>
                </div>
                <aside class="right-content">
                    RIGHT SIDE BAR
                </aside>
            </div>
            
        </div>

    </body>
</html>